@import '../imports.scss';


.charity-info-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: #FFF5EB;
}

.heading-container {    
    box-sizing: border-box;
    padding: 2rem 0;

    .heading {
        background: linear-gradient(183deg, #000 41.38%, rgba(0, 0, 0, 0.00) 97.34%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Hanken Grotesk';
        font-size: 2.5rem;
        padding-top: 1rem;
        font-weight: 800;
    }
}

.image-container{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

.image-container img{
    opacity: 80%;
    height: 80%;
    width: 80%;
    border-radius: 2rem;
}

.description-container{
    display: flex;
    width: 90%;
    box-sizing: border-box;
    min-height: 5rem;
    background-color: #FFFF;
    border: 1px solid #000;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 0.5rem;
   
}

.donation-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    box-sizing: border-box;
    border-radius: 0.6rem;
    border: 1px solid #000;
}

.donation-container p{
    padding: 0.5rem;
}



.donation-container div{
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;   
    border-radius: 0.5rem;
    border: 1px solid #000;
    background: #B8FF81;
}


.social-wrapper a {
    color: #5F5F5F;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
