@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

.dashboard-container {
    width: 100%;
    height: 100vh;
    background: #FFF8EC;

    box-sizing: border-box;
    padding: 0rem 1.25rem;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    

    .dashboard-content {
        width: 100%;
        max-width: 50rem;
        padding-bottom: 2rem;
        .heading-container {
            box-sizing: border-box;
            padding: 2rem 0;
    
            .heading {
                color: #0B735A;
                font-family: 'Hanken Grotesk';
                font-size: 2.5rem;
                padding-top: 1rem;
                font-weight: 800;
            }
        }
    
        .donation-card-section {
            margin-bottom: 2rem;
        }
        
        .charities-section {
            .heading {
                color: #5F5F5F;
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
        }

    }
    
}

@media only screen and (min-width: 770px) {
    .dashboard-container {
        .dashboard-content {
            overflow: hidden;
        }
    }
}