@import '../imports.scss';


.settings-page-container{
    width: 100%;
    height: 100vh;
    background: #FFF5EB;

    box-sizing: border-box;
    padding: 0rem 1.25rem;
    overflow-y: hidden;
    display: flex;
    justify-content: center;

    .settings-page-content {
        width: 100%;
        max-width: 50rem;

        .heading-container {
            box-sizing: border-box;
            padding: 2rem 0;
    
            .heading {
                background: linear-gradient(183deg, #000 41.38%, rgba(0, 0, 0, 0.00) 97.34%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'Hanken Grotesk';
                font-size: 2.5rem;
                padding-top: 1rem;
                font-weight: 800;
            }
        }

        .payment-methods-section {
            .heading {
                color: #5F5F5F;
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .payments-grid {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 1.2rem;
                margin-bottom: 15px;

                .add-payment-method-card {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    justify-content: center;
                    min-width: 6rem;
                    min-height: 4rem;
                    border: 2px solid #7A7A7A;
                    border-radius: 0.5rem;

                    span {
                        font-size: 2rem;
                        color: #7A7A7A;
                    }
                }
            }
        }
    }

}


.payment-wrapper{
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;
}

.add-payment-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .add-payment-popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .close-button {
    background-color: #f00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #c00; 
  }
  