
.navbar {
    width: 100%;
    box-sizing: border-box;
<<<<<<< HEAD
    padding-top: 2.5rem;
=======
>>>>>>> ad82f97ca31a98178d75a76be10b384b1d65d2b6
    padding-bottom: 1rem;

    .buttons-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        .button {
            border-radius: 20px;
            font-size: 1rem;
            font-family: 'Hanken Grotesk';
            font-weight: 600;
            color: black;
            padding: .5rem 1.2rem;
            margin-right: 10px;
        }

        .button-dashboard {
            background: #B8FF81;
        }

        .button-settings {
            background: #D8E3F3
        }

        .button-charities {
            background: #C4BCF9;
        }
    }
}
