@import '../imports.scss';

.payment-method-card {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    min-width: 6rem;
    min-height: 4rem;
    background: white;
    border: 1px solid rgba(8, 7, 48, 0.21);;
    border-radius: 0.5rem;
    cursor: pointer;
}