
.payment-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 21.5625rem;
    height: 6.1875rem;

    border-radius: 0.9375rem;
    border: 1px solid #000;
    background: #FFF;

    margin-top: 1.25rem;
}

.payment-container img{
    margin-left: 1.25rem;
}

.payment-container button{
    width: 1.625rem;
    height: 1.625rem;
    background-color: #B8FF81;
    margin-right: 1.25rem;
    border-radius: 100%;
}
